@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";

.footer {
  font-size: 24px;

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-button;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 76px 0;
    @media all and (min-width: $breakpoint-tablet-S) {
      flex-direction: row;
    }
  }

  &__contacts {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
    @media all and (min-width: $breakpoint-tablet-S) {
      margin-bottom: 0;
    }
  }

  &__disc {
    margin: 30px 0;
  }

  &__networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    &_item {
      width: 32px;
      height: 32px;
      line-height: 32px;
      background-color: $color-text;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      transition: all .5s;
    }

    &_desktop {
      display: none;
      @media all and (min-width: $breakpoint-tablet-S) {
        display: flex;
      }
    }

    &_mobile {
      display: flex;
      @media all and (min-width: $breakpoint-tablet-S) {
        display: none;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 450px;
    width: 100%;
    margin-bottom: 40px;
    @media all and (min-width: $breakpoint-tablet-S) {
      margin-bottom: 0;
    }
  }

  &__copyright {
    &_inner {
      padding: 15px 0;
      background-color: $color-text;
      color: $color-button;
      text-align: center;
    }
  }

  &__title {
    display: inline;
    font-size: 30px;
    font-weight: 600;
    border-bottom: solid 2px $color-text-menu;
  }

  ul {
    text-transform: uppercase;
  }
   li {
     position: relative;
     padding-left: 21px;
     margin-top: 20px;
     &::before {
       content: "";
       position: absolute;
       left: 0;
       top: 14px;
       height: 8px;
       width: 8px;
       background-color: $color-text;
       border-radius: 50%;
     }
   }
}
