@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";

.product {
  position: relative;
  z-index: $position-block;
  margin-bottom: 130px;

  .title-wrap {
    text-align: center;
  }

  p {
    position: relative;
    z-index: $position-block;
    padding-top: 30px;
    text-align: center;
  }

  &__image {
    position: absolute;
    top: 47px;
    right: 0;
  }
}


