@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";

.product {
  position: relative;
  z-index: $position-block;
  padding-bottom: 130px;

  .title-wrap {
    text-align: center;
  }

  p {
    position: relative;
    z-index: $position-block;
    padding-top: 30px;
    padding-bottom: 68px;
    text-align: center;
  }

  &__image {
    position: absolute;
    top: 47px;
    right: 0;
  }
}

//slider
.product-swiper {
  position: relative;
  z-index: $position-swiper;
  height: 410px;
  user-select: none;
  //background-color: olivedrab;
}

.item {
  max-width: 257px;
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;

  //background-color: #d6cfc2;

  &__block {
    position: relative;
    padding-bottom: 50%;
    margin-bottom: 18px;
    background-color: $color-slider-background1;
    border-radius: 40px;
  }

  &__title {
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 24px;
  }

  &__img {
    position: relative;

    img {
      position: absolute;
      z-index: $position-swiper;
      top: -40px;
      left: 55px;
    }
  }

  &__rating {
    padding-bottom: 20px;
    text-align: center;
  }

  &__cost {
    padding-bottom: 20px;
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }

  &__disc {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    opacity: 0.8;
  }
}

//arrows slider
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #5A1404;
  font-size: 15px !important;
  font-weight: 700;
}

.swiper-button-prev,
.swiper-button-next {
  left: initial !important;
  background-color: $color-button;
  border-radius: 50%;
  width: 47px !important;
  height: 47px !important;
  top: 86% !important;
  @media all and (min-width: $breakpoint-tablet-L) {
    top: 50% !important;
  }
}

.swiper-button-next {
  right: 72px !important;
}

.swiper-button-prev {
  left: 72px !important;
}

