@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";

button {
  cursor: pointer;
  display: inline-block;
  border-radius: 34px;
  border: 1px solid $color-button;

  font-family: $primaryFont;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  @media all and (min-width: $breakpoint-tablet-S) {
    width: 220px;
    height: 60px;
  }
}

.button_currency {
  background-color: $color-text;
  color: $color-white;
  display: none;
  @media all and (min-width: $breakpoint-tablet-S) {
    display: inline-block;
    margin-right: 20px;
  }
}

.button_account {
  background-color: $color-button;
}

.button_product {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $color-white;
}
