<div class="aboutUs">
    <div class="aboutUs-wrap content-wrap">
        <div class="aboutUs__inner">
            <div class="aboutUs__sphere">
                <img alt="sphere" src="./img/aboutUsAround.png">
            </div>
            <div class="aboutUs__image"></div>
            <div class="aboutUs__disc">
                <div class="aboutUs__disc-text">
                    <h3>ABOUT US</h3>
                    <h2>FURNITURE OF ART.</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing
                        anLorem Ipsum is simply dummy text of the printing
                        and typesetting industry.d typesetting industry.</p>
                    <button class="button_account">Shop Now</button>
                </div>
                <div class="aboutUs__disc-img"></div>
            </div>
        </div>
    </div>
</div>
