<div class="deals content-inner">
    <div class="deals-wrap">
        <div class="deals__img-circle">
            <img src="./img/deals-arround.png">
        </div>
        <div class="title-wrap"><h3>SPECIAL DEALS FOR THIS WEEK</h3></div>
        <div class="deals__timer timer">
            <div class="timer__counter knowledge">

                <div class="timer__inner">
                    <div class="timer__diagram-wrapper">
                        <svg viewBox="0 0 48 48" class="timer__diagram">
                            <circle class="timer__diagram-all" cx="24" cy="24" r="20" stroke-width="1" fill="none"
                                    transform="rotate(-90, 24, 24)"></circle>
                            <circle class="timer__diagram-current-knowledge diagram-current" cx="24"
                                    cy="24"
                                    r="20" stroke-width="4" fill="none"
                                    transform="rotate(-90, 24, 24)"
                                    stroke-dasharray="0 300"></circle>
                        </svg>
                    </div>
                    <div class="timer__value">220</div>
                </div>

                <div class="timer__disc">Days</div>
            </div>
            <div class="timer__counter cooperation">

                <div class="timer__inner">
                    <div class="timer__diagram-wrapper">
                        <svg viewBox="0 0 48 48" class="timer__diagram">
                            <circle class="timer__diagram-all" cx="24" cy="24" r="20" stroke-width="1" fill="none"
                                    transform="rotate(-90, 24, 24)"></circle>
                            <circle class="timer__diagram-current-cooperation diagram-current" cx="24"
                                    cy="24"
                                    r="20" stroke-width="4" fill="none"
                                    transform="rotate(-90, 24, 24)"
                                    stroke-dasharray="0 300"></circle>
                        </svg>
                    </div>
                    <div class="timer__value">8</div>
                </div>

                <div class="timer__disc">Hours</div>
            </div>
            <div class="timer__counter quality">

                <div class="timer__inner">
                    <div class="timer__diagram-wrapper">
                        <svg viewBox="0 0 48 48" class="timer__diagram">
                            <circle class="timer__diagram-all" cx="24" cy="24" r="20" stroke-width="1" fill="none"
                                    transform="rotate(-90, 24, 24)"></circle>
                            <circle class="timer__diagram-current-quality diagram-current" cx="24" cy="24"
                                    r="20" stroke-width="4" fill="none"
                                    transform="rotate(-90, 24, 24)"
                                    stroke-dasharray="0 300"></circle>
                        </svg>
                    </div>
                    <div class="timer__value">45</div>
                </div>

                <div class="timer__disc">Minutes</div>
            </div>
            <div class="timer__counter quality">

                <div class="timer__inner">
                    <div class="timer__diagram-wrapper">
                        <svg viewBox="0 0 48 48" class="timer__diagram">
                            <circle class="timer__diagram-all" cx="24" cy="24" r="20" stroke-width="1" fill="none"
                                    transform="rotate(-90, 24, 24)"></circle>
                            <circle class="timer__diagram-current-quality diagram-current" cx="24" cy="24"
                                    r="20" stroke-width="4" fill="none"
                                    transform="rotate(-90, 24, 24)"
                                    stroke-dasharray="0 300"></circle>
                        </svg>
                    </div>
                    <div class="timer__value">50</div>
                </div>

                <div class="timer__disc">Seconds</div>
            </div>
        </div>
        <button class="button_account">Shop Now</button>
        <div class="deals__img-line">
            <img src="./img/deals-line.png">
        </div>
    </div>
</div>
