<!--ограничение по высоте-->
<footer class="footer">
    <!--фон футера-->
    <div class="footer__main">
        <!--ограничение по ширине: max-width 1770px - padding 100px = 1670рх по макету-->
        <div class="footer__wrap content-wrap">
            <!--внутренний контейнер-->
            <div class="footer__inner">
                <div class="footer__contacts">
                    <div class="logo">logo</div>
                    <div class="footer__disc">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный
                        печатник
                        создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        Lorem
                        Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
                        дизайн.
                    </div>
                    <div class="footer__networks">
                        <div class="footer__networks_item">
                            <img alt="" src="./img/vk.svg">
                        </div>
                        <div class="footer__networks_item">
                            <img alt="" src="./img/twitter.svg">
                        </div>
                        <div class="footer__networks_item">
                            <img alt="" src="./img/pinterest.svg">
                        </div>
                        <div class="footer__networks_item">
                            <img alt="" src="./img/in.svg">
                        </div>
                        <div class="footer__networks_item">
                            <img alt="" src="./img/facebook.svg">
                        </div>
                        <div class="footer__networks_item">
                            <img alt="" src="./img/linkedin.svg">
                        </div>
                    </div>
                </div>
                <div class="footer__links">
                    <div class="footer__column">
                        <div class="footer__title">Support</div>
                        <ul>
                            <li>home</li>
                            <li>about us</li>
                            <li>blog</li>
                            <li>product</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright footer__copyright_inner">
        <div class="content-wrap">&copy; Copyright All Rights Reserved</div>
    </div>
</footer>
