<!--ограничение по высоте-->
<footer class="footer">
    <!--фон футера-->
    <div class="footer__main">
        <!--ограничение по ширине: max-width 1770px - padding 100px = 1670рх по макету-->
        <div class="footer__wrap content-wrap">
            <!--внутренний контейнер-->
            <div class="footer__inner">
                <div class="footer__contacts">
                    <a href="#"><div class="logo">logo</div></a>
                    <div class="footer__disc">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный
                        печатник.
                    </div>
                    <div class="footer__networks footer__networks_desktop">
                        <div class="footer__networks_item">
                            <a href="#"><img alt="" src="./img/vk.svg"></a>
                        </div>
                        <div class="footer__networks_item">
                            <a href="#"><img alt="" src="./img/twitter.svg"></a>
                        </div>
                        <div class="footer__networks_item">
                            <a href="#"><img alt="" src="./img/pinterest.svg"></a>
                        </div>
                        <div class="footer__networks_item">
                            <a href="#"><img alt="" src="./img/in.svg"></a>
                        </div>
                        <div class="footer__networks_item">
                            <a href="#"><img alt="" src="./img/facebook.svg"></a>
                        </div>
                        <div class="footer__networks_item">
                            <a href="#"><img alt="" src="./img/linkedin.svg"></a>
                        </div>
                    </div>
                </div>
                <div class="footer__links">
                    <div class="footer__column">
                        <div class="footer__title">Support</div>
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">product</a></li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <div class="footer__title">Support</div>
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">product</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer__networks footer__networks_mobile">
                    <div class="footer__networks_item">
                        <img alt="" src="./img/vk.svg">
                    </div>
                    <div class="footer__networks_item">
                        <img alt="" src="./img/twitter.svg">
                    </div>
                    <div class="footer__networks_item">
                        <img alt="" src="./img/pinterest.svg">
                    </div>
                    <div class="footer__networks_item">
                        <img alt="" src="./img/in.svg">
                    </div>
                    <div class="footer__networks_item">
                        <img alt="" src="./img/facebook.svg">
                    </div>
                    <div class="footer__networks_item">
                        <img alt="" src="./img/linkedin.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright footer__copyright_inner">
        <div class="content-wrap">&copy; Copyright All Rights Reserved</div>
    </div>
</footer>
