<header class="header">
    <div class="wrap content-wrap">
        <div class="header__top">
            <div class="header__phone">
                <div class="header__number">
                    <a href="#"><img alt="headphone" src="./img/headphone.png"></a>
                    <a href="#"><span>+91998 654 6583</span></a>
                </div>
                <div class="header__slogan">Welcome you Benco store!</div>
            </div>
            <div class="header__top_authorization">
                <button class="button_currency">Currency: <span>USD</span></button>
                <button class="button_account">My Account</button>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__nav">
                <div class="logo">logo</div>

                <div class="header__menu">
                    <div class="header__menu_item">Home</div>
                    <div class="header__menu_item">Shop</div>
                    <div class="header__menu_item">blog</div>
                    <div class="header__menu_item">About us</div>
                    <div class="header__menu_item">product</div>
                    <div class="header__menu_item">pages</div>
                    <div class="header__menu_item">contact us</div>
                </div>
            </div>
            <div class="header__userMenu">
                <div class="menu__burger">
                    <div class="menu__icon icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header__userMenu_item">
                    <img alt="search" src="./img/search.png">
                </div>
                <div class="header__userMenu_item">
                    <img alt="basket" src="./img/basket.png">
                </div>
            </div>

        </div>
    </div>
</header>
