<header class="header">
    <div class="wrap content-wrap">
        <div class="header__top">
            <div class="header__phone">
                <div class="header__number">
                    <a href="#"><img alt="headphone" src="./img/headphone.png"></a>
                    <a href="tel: +71998654653"><span>+91998 654 6583</span></a>
                </div>
                <div class="header__slogan">Welcome you Benco store!</div>
            </div>
            <div class="header__top_authorization">
                <button class="button_currency">Currency: <span>USD</span></button>
                <button class="button_account">My Account</button>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__nav">
                <a href="#"><div class="logo">logo</div></a>

                <div class="header__menu">
                    <div class="header__menu_item"><a href="#" id="link">Home</a></div>
                    <div class="header__menu_item"><a href="#">Shop</a></div>
                    <div class="header__menu_item"><a href="#">blog</a></div>
                    <div class="header__menu_item"><a href="#">About us</a></div>
                    <div class="header__menu_item"><a href="#">product</a></div>
                    <div class="header__menu_item"><a href="#">pages</a></div>
                    <div class="header__menu_item"><a href="#">contact us</a></div>
                </div>
            </div>
            <div class="header__userMenu">

                <div class="header__userMenu_item">
                    <img alt="search" src="./img/search.png">
                </div>
                <div class="header__userMenu_item">
                    <img alt="basket" src="./img/basket.png">
                </div>
                <div class="menu__burger">
                    <div class="menu__icon icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
