<div class="main content-inner">
    <div class="main-wrap content">
        <div class="main-inner">
            <h1>Simple&nbsp;Furniture with <a>high-end</a> quality</h1>
            <p>Lorem Ipsum is simply dummy text of the printing
                and typesetting industry.</p>
            <button class="button_account">Shop Now</button>
        </div>
        <div class="main-image">
            <img class="main-sofa" alt="main-sofa" src="./img/sofa-main.png">
        </div>
    </div>
</div>
