<div class="product">
    <div class="product-wrap content-wrap">
        <div class="title-wrap"><h3>WHAT’S NEW IN OUR BLOG</h3></div>
        <p>Only for our customers we have some collections of the blog post.</p>

        <div class="newInBlog">
            <div class="newInBlog__wrap">

                <div class="newInBlog__item itemBlog">
                    <div class="itemBlog__disc">
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-calendar.png" alt="calendar">
                            <div class="itemBlog__text">13 September</div>
                        </div>
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-comment.png" alt="comment">
                            <div class="itemBlog__text">Comments 05</div>
                        </div>
                    </div>
                    <div class="itemBlog__title">Home Decore</div>
                    <div class="itemBlog__read">Read More</div>
                </div>

                <div class="newInBlog__item itemBlog">
                    <div class="itemBlog__disc">
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-calendar.png" alt="calendar">
                            <div class="itemBlog__text">13 September</div>
                        </div>
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-comment.png" alt="comment">
                            <div class="itemBlog__text">Comments 05</div>
                        </div>
                    </div>
                    <div class="itemBlog__title">Home Decore</div>
                    <div class="itemBlog__read">Read More</div>

                </div>

                <div class="newInBlog__item itemBlog">
                    <div class="itemBlog__disc">
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-calendar.png" alt="calendar">
                            <div class="itemBlog__text">13 September</div>
                        </div>
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-comment.png" alt="comment">
                            <div class="itemBlog__text">Comments 05</div>
                        </div>
                    </div>
                    <div class="itemBlog__title">Home Decore</div>
                    <div class="itemBlog__read">Read More</div>
                </div>

                <div class="newInBlog__item itemBlog">
                    <div class="itemBlog__disc">
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-calendar.png" alt="calendar">
                            <div class="itemBlog__text">13 September</div>
                        </div>
                        <div class="itemBlog__data">
                            <img src="./img/newInBlog-comment.png" alt="comment">
                            <div class="itemBlog__text">Comments 05</div>
                        </div>
                    </div>
                    <div class="itemBlog__title">Home Decore</div>
                    <div class="itemBlog__read">Read More</div>
                </div>
            </div>
            <div class="newInBlog__img newInBlog__img_right">
                <img src="./img/newInBlog-curl1.png">
            </div>
            <div class="newInBlog__img newInBlog__img_left">
                <img src="./img/newInBlog-curl2.png">
            </div>
        </div>
    </div>
</div>
