<div class="offer content-inner">
    <div class="offer-wrap">
        <div class="offer__img">
<!--            <img alt="" src="./img/offer-sofa.png">-->
        </div>
        <div class="offer__inner">
            <div class="offer__block-wrap">
                <div class="offer__block">
                    <div class="offer__png">
                        <img alt="" src="./img/offer-car.png">
                    </div>
                    <div class="offer__disc">
                        <div class="offer__title">Free Shipping</div>
                        <div class="offer__text">Orders over $100</div>
                    </div>
                </div>
                <div class="offer__block">
                    <div class="offer__png">
                        <img alt="" src="./img/offer-png2.png">
                    </div>
                    <div class="offer__disc">
                        <div class="offer__title">24/7 Support</div>
                        <div class="offer__text">Quick support</div>
                    </div>
                </div>
                <div class="offer__block">
                    <div class="offer__png">
                        <img alt="" src="./img/offer-png3.png">
                    </div>
                    <div class="offer__disc">
                        <div class="offer__title">10-Day Returns</div>
                        <div class="offer__text">Shop with confidence</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
