<div class="product content-inner">
    <div class="product-wrap content">
        <div class="title-wrap"><h3>WHAT PRODUCT WE SELL</h3></div>
        <p>Find our best products faster, better and qualitier product’s choices from us.</p>
        <div class="product-swiper swiper">
            <!-- Оболочка -->
            <div class="product-swiper__wrapper swiper-wrapper">

                <!--Слайды -->
                <div class="product-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="product-swiper__item item">
                        <div class="item__block">
                            <div class="item__img">
                                <img alt="" src="./img/product-swiper-armchair1.png">
                            </div>
                            <div class="item__title">Couch Cartoon</div>
                        </div>
                        <div class="item__rating">
                            <img alt="" src="./img/product-swiper-rate.png">
                        </div>
                        <div class="item__cost">$ 159</div>
                        <div class="item__disc">Lorem Iipsum is simple and dumy text.</div>
                        <button class="button_product">Shop Now</button>
                    </div>
                </div>

                <div class="product-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="product-swiper__item item">
                        <div class="item__block">
                            <div class="item__img">
                                <img alt="" src="./img/product-swiper-armchair1.png">
                            </div>
                            <div class="item__title">Couch Cartoon</div>
                        </div>
                        <div class="item__rating">
                            <img alt="" src="./img/product-swiper-rate.png">
                        </div>
                        <div class="item__cost">$ 159</div>
                        <div class="item__disc">Lorem Iipsum is simple and dumy text.</div>
                        <button class="button_product">Shop Now</button>
                    </div>
                </div>

                <div class="product-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="product-swiper__item item">
                        <div class="item__block">
                            <div class="item__img">
                                <img alt="" src="./img/product-swiper-armchair1.png">
                            </div>
                            <div class="item__title">Couch Cartoon</div>
                        </div>
                        <div class="item__rating">
                            <img alt="" src="./img/product-swiper-rate.png">
                        </div>
                        <div class="item__cost">$ 159</div>
                        <div class="item__disc">Lorem Iipsum is simple and dumy text.</div>
                        <button class="button_product">Shop Now</button>
                    </div>
                </div>

                <div class="product-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="product-swiper__item item">
                        <div class="item__block">
                            <div class="item__img">
                                <img alt="" src="./img/product-swiper-armchair1.png">
                            </div>
                            <div class="item__title">Couch Cartoon</div>
                        </div>
                        <div class="item__rating">
                            <img alt="" src="./img/product-swiper-rate.png">
                        </div>
                        <div class="item__cost">$ 159</div>
                        <div class="item__disc">Lorem Iipsum is simple and dumy text.</div>
                        <button class="button_product">Shop Now</button>
                    </div>
                </div>

                <div class="product-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="product-swiper__item item">
                        <div class="item__block">
                            <div class="item__img">
                                <img alt="" src="./img/product-swiper-armchair1.png">
                            </div>
                            <div class="item__title">Couch Cartoon</div>
                        </div>
                        <div class="item__rating">
                            <img alt="" src="./img/product-swiper-rate.png">
                        </div>
                        <div class="item__cost">$ 159</div>
                        <div class="item__disc">Lorem Iipsum is simple and dumy text.</div>
                        <button class="button_product">Shop Now</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-button-prev swiperProduct-button-prev"></div>
        <div class="swiper-button-next swiperProduct-button-next"></div>

        <div class="product__image">
            <img src="./img/product-zavitok.png">
        </div>
    </div>
</div>
