<div class="product content-inner">
    <div class="product-wrap content">
        <div class="title-wrap"><h3>OUR STAR PRODUCTS</h3></div>
        <p>Discover all our beautiful and unique products which are perfect for your home.</p>

        <div class="productStar">
            <div class="productStar__inner">
                <div class="productStar__circle1"></div>
                <div class="productStar__circle2"></div>
                <div class="productStar__text">FEATURE</div>
            </div>
            <div class="productStar__line line1"></div>
            <div class="productStar__inner">
                <div class="productStar__circle1"></div>
                <div class="productStar__circle2"></div>
                <div class="productStar__text">LATEST</div>
            </div>
            <div class="productStar__line line2"></div>
            <div class="productStar__inner">
                <div class="productStar__circle1"></div>
                <div class="productStar__circle2"></div>
                <div class="productStar__text"> SELLER</div>
            </div>
        </div>

        <div class="productStar-swiper swiper">
            <!-- Оболочка -->
            <div class="productStar-swiper__wrapper swiper-wrapper">

                <!--Слайды -->
                <div class="productStar-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="productStar-swiper__item itemStar">
                        <div class="itemStar__img">
                            <img alt="" src="./img/starProductchair.png">
                        </div>
                        <div class="itemStar__block">
                            <div class="itemStar__disc">
                                <div class="itemStar__name">Modern Chair</div>
                                <div class="itemStar__rating">
                                    <img src="./img/starProduct-star.png">
                                    <div class="itemStar__number">4.7</div>
                                </div>
                            </div>
                            <div class="itemStar__basket">
                                <img alt="" src="./img/starProduct-arrow.png">
                            </div>
                        </div>
                        <div class="itemStar__cost">$99.99</div>
                    </div>
                </div>

                <div class="productStar-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="productStar-swiper__item itemStar">
                        <div class="itemStar__img">
                            <img alt="" src="./img/starProductchair.png">
                        </div>
                        <div class="itemStar__block">
                            <div class="itemStar__disc">
                                <div class="itemStar__name">Modern Chair</div>
                                <div class="itemStar__rating">
                                    <img src="./img/starProduct-star.png">
                                    <div class="itemStar__number">4.7</div>
                                </div>
                            </div>
                            <div class="itemStar__basket">
                                <img alt="" src="./img/starProduct-arrow.png">
                            </div>
                        </div>
                        <div class="itemStar__cost">$99.99</div>
                    </div>
                </div>

                <div class="productStar-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="productStar-swiper__item itemStar">
                        <div class="itemStar__img">
                            <img alt="" src="./img/starProductchair.png">
                        </div>
                        <div class="itemStar__block">
                            <div class="itemStar__disc">
                                <div class="itemStar__name">Modern Chair</div>
                                <div class="itemStar__rating">
                                    <img src="./img/starProduct-star.png">
                                    <div class="itemStar__number">4.7</div>
                                </div>
                            </div>
                            <div class="itemStar__basket">
                                <img alt="" src="./img/starProduct-arrow.png">
                            </div>
                        </div>
                        <div class="itemStar__cost">$99.99</div>
                    </div>
                </div>

                <div class="productStar-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="productStar-swiper__item itemStar">
                        <div class="itemStar__img">
                            <img alt="" src="./img/starProductchair.png">
                        </div>
                        <div class="itemStar__block">
                            <div class="itemStar__disc">
                                <div class="itemStar__name">Modern Chair</div>
                                <div class="itemStar__rating">
                                    <img src="./img/starProduct-star.png">
                                    <div class="itemStar__number">4.7</div>
                                </div>
                            </div>
                            <div class="itemStar__basket">
                                <img alt="" src="./img/starProduct-arrow.png">
                            </div>
                        </div>
                        <div class="itemStar__cost">$99.99</div>
                    </div>
                </div>

                <div class="productStar-swiper__slide swiper-slide">
                    <!-- внутренний контент слайда -->
                    <div class="productStar-swiper__item itemStar">
                        <div class="itemStar__img">
                            <img alt="" src="./img/starProductchair.png">
                        </div>
                        <div class="itemStar__block">
                            <div class="itemStar__disc">
                                <div class="itemStar__name">Modern Chair</div>
                                <div class="itemStar__rating">
                                    <img src="./img/starProduct-star.png">
                                    <div class="itemStar__number">4.7</div>
                                </div>
                            </div>
                            <div class="itemStar__basket">
                                <img alt="" src="./img/starProduct-arrow.png">
                            </div>
                        </div>
                        <div class="itemStar__cost">$99.99</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-button-prev swiperStar-button-prev"></div>
        <div class="swiper-button-next swiperStar-button-next"></div>

        <div class="product__image">
            <img src="./img/starproduct-zavitok.png">
        </div>
    </div>
</div>
