@import "modules/vars.scss";
@import "modules/font.scss";
@import "modules/functions.scss";

*, *:before, *::before, *:after, *::after {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

html, body {
  //overflow-x: hidden;
  box-sizing: border-box;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.content-inner {
  padding: 20px 20px 0;
  @media all and (min-width: $breakpoint-tablet-L) {
    padding: 20px 120px 0;
  }
}

.wrapper {
  background-color: linear-gradient(90deg, #d6cfc2, #fff);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  position: relative;
  z-index: $position-background;
  @media all and (min-width: $breakpoint-desktop-S) {
    padding-bottom: 200px;
  }
  @media all and (min-width: $breakpoint-desktop-L) {
    padding-bottom: 410px;
  }

  .wrapper-img {
    position: absolute;
    height: 500px;
    width: 100%;
    @media all and (min-width: $breakpoint-desktop-S) {
      right: 0;
      width: initial;
    }
  }

  .livingRoomMobile {
    @media all and (min-width: $breakpoint-desktop-S) {
      display: none;
    }
  }

  .livingRoom {
    display: none;
    @media all and (min-width: $breakpoint-tablet-S) {

    }
    @media all and (min-width: $breakpoint-desktop-S) {
      display: block;
      width: 1191px;
      height: 1080px;
    }
  }
}

html {
  height: 100%;
}

p {
  margin: 0;
}

a {
  color: $color-text;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-text;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  display: inline-block;
  border-radius: 34px;
  border: 1px solid $color-button;

  font-family: $primaryFont;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  @media all and (min-width: $breakpoint-tablet-S) {
    width: 220px;
    height: 60px;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: -webkit-fill-available;
  zoom: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  position: relative;
}

body.lock {
  overflow-y: hidden;
  height: 100vh;
}


@import "components/header.scss";
@import "components/main-page.scss";
@import "components/footer.scss";

//или подключение с помощью маски (sassGlob) всех файлов из директории
//@import "components/*.scss";
