@import "modules/vars.scss";
@import "modules/font.scss";
@import "modules/functions.scss";
@import "modules/slider.scss";


*, *:before, *::before, *:after, *::after {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  //overflow-x: hidden;
  box-sizing: border-box;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: $font-Roboto;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: -webkit-fill-available;
  zoom: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  position: relative;
}

body.lock {
  overflow-y: hidden;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content-wrap {
  max-width: 1770px; // - 100px padding = 1670 по макету
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @media all and (min-width: $breakpoint-tablet-S) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.wrapper {
  background-color: linear-gradient(90deg, #d6cfc2, #fff);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  position: relative;
  z-index: $position-background;
  @media all and (min-width: $breakpoint-desktop-L) {
    padding-bottom: 180px;
  }

  .wrapper-img {
    position: absolute;
    height: 500px;
    width: 100%;
    @media all and (min-width: $breakpoint-desktop-S) {
      right: 0;
      width: initial;
    }
  }

  .livingRoomMobile {
    @media all and (min-width: $breakpoint-desktop-S) {
      display: none;
    }
  }

  .livingRoom {
    display: none;

    @media all and (min-width: $breakpoint-desktop-S) {
      display: block;
      width: 1191px;
      height: 864px;
    }
    @media all and (min-width: $breakpoint-desktop-L) {
      height: 1080px;
    }
  }
}

p {
  margin: 0;
}

a {
  color: $color-text;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-text;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h3 {
  display: inline;
  border-bottom: solid 2px $color-button;
  font-family: $primaryFont;
  font-weight: 600;
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@import "components/header.scss";
@import "components/main-page.scss";
@import "components/aboutUs.scss";
@import "components/product.scss";
@import "components/deals.scss";
@import "components/starProduct.scss";
@import "components/offer.scss";
@import "components/newInBlog.scss";
@import "components/footer.scss";

//или подключение с помощью маски (sassGlob) всех файлов из директории
//@import "components/*.scss";
